<div>
    {{ kint(form.field_categorie_principale.widget) }}
    {{ form.field_categories_secondaires }}
    {{ form.field_image }}
    {{ form.field_date }}
    {{ form.body }}
    {{ form.field_evaluation }}
    {{ form.field_file }}
    {{ form.field_key_words }}
    {{ form.field_page_number }}
    {{ form.field_resume }}
    {{ form.field_language }}
    {{ form.actions.publish }}
</div>
